## ALL LIST FUNCTION and OPerations

In [52]:
x = range(10)
print(list(x))
print(list(range(-10,10,2)))
print([[x ** 2, x ** 3] for x in range(4)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]
[[0, 0], [1, 1], [4, 8], [9, 27]]

In [32]:
x, y = [1,2,3,4,5], [6,7,8,9,10]

In [34]:
#concate or extend 
x.extend(y)
print(x)
z = x + y
print(z)
print("Lenght of z = "+str(len(z)))
print("MAX of z = "+str(max(z)))
print("MIN of z = "+str(min(z)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10]
Lenght of z = 20
MAX of z = 10
MIN of z = 1

In [29]:
# now x is 1, y is 2

x, y, z = [1,2,9], [9,2,0], [1,6,9]
print(x)
print(y)
print(z)

[1, 2, 9]
[9, 2, 0]
[1, 6, 9]

In [16]:

_, y = [1, 2]

In [23]:
t = [6,7,8,9,10]
print(t[2:-1])
print(t[:])
print(t[:4])
print(t[1:])

[8, 9]
[6, 7, 8, 9, 10]
[6, 7, 8, 9]
[7, 8, 9, 10]

In [26]:
t = [6,7,8,9,10]
print(3 in t)
print(6 in t)

False
True

In [27]:
for i in t:
    print(i)

6
7
8
9
10

In [79]:
Names = ["USAMA","ALI","HAMZA","OMER","AWAIS","SAIQ","USS",]
print(Names)
Names.pop(2)
print(Names)
Names.remove("ALI")
print(Names)
#SORTING
Names.sort(reverse=True)
print(Names)

print("Sorted")
print(sorted(Names))
Names.reverse()
print(Names)
Names.reverse()
print(Names)
del Names[2]
print(Names)

['USAMA', 'ALI', 'HAMZA', 'OMER', 'AWAIS', 'SAIQ', 'USS']
['USAMA', 'ALI', 'OMER', 'AWAIS', 'SAIQ', 'USS']
['USAMA', 'OMER', 'AWAIS', 'SAIQ', 'USS']
['USS', 'USAMA', 'SAIQ', 'OMER', 'AWAIS']
Sorted
['AWAIS', 'OMER', 'SAIQ', 'USAMA', 'USS']
['AWAIS', 'OMER', 'SAIQ', 'USAMA', 'USS']
['USS', 'USAMA', 'SAIQ', 'OMER', 'AWAIS']
['USS', 'USAMA', 'OMER', 'AWAIS']

In [82]:
Namess = ["USAMA","ALI","HAMZA","OMER","AWAIS","SAIQ","USS",]
print(Namess.index("USAMA"))

0

In [38]:
#Python list method list() takes sequence types and converts them to lists
tuplee = (1,2,3,4,5,5,6,7)
print(tuplee)
print(list(tuplee))
print(tuplee.count(5))

(1, 2, 3, 4, 5, 5, 6, 7)
[1, 2, 3, 4, 5, 5, 6, 7]
2

In [41]:
A, B = [[1,2,4],
     [4,6,7],
     [6,9,0],
    ],[
    [3,5,6],
    [5,6,8],
    [6,8,9],
]

In [43]:
print(A)
print(B)

[[1, 2, 4], [4, 6, 7], [6, 9, 0]]
[[3, 5, 6], [5, 6, 8], [6, 8, 9]]

In [44]:
print(A+B)

[[1, 2, 4], [4, 6, 7], [6, 9, 0], [3, 5, 6], [5, 6, 8], [6, 8, 9]]

In [56]:
print(A[2])
print(A[1][2])
print("Diagonal = "+str([A[i][i] for i in [0,1,2]]))

[6, 9, 0]
7
Diagonal = [1, 6, 0]

In [80]:
list()

[]